.close_top{
    width: 375px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #f5f5f5;
}
.ant-drawer-body{
    padding: 0;
}