.home {
  color: #000;
  background: hsl(0, 0%, 96%);
  .fixed {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #fff;
    background-image: linear-gradient(0deg, #3b3e40, #535759);
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .earphone{
      height: 18px;
      width: 18px;
    }
  }
  .toTop {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #fff;
    position: fixed;
    bottom: 210px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #ccc;
    .up_arrow{
      height: 12px;
      width: 12px;
    }
  }
  .buttom_box {
    margin-top: 20px;
    .ulbox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .item {
        list-style: none;
        height: 50px;
        width: 335px;
        line-height: 50px;
        margin-left: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .add {
          height: 12px;
          width: 12px;
        }
      }
    }
    .somthing {
      padding-left: 25px;
      margin-top: 10px;
    }
    .txt {
      padding-left: 25px;
      margin-top: 10px;
    }
    .polic {
      padding-left: 25px;
      margin-top: 10px;
      padding-bottom: 20px;
      color: #9fa3a6;
    }
  }
}
