.commodity{
    color: #000;
    background: #fff;
    .title{
        width: 375px;
        height: 50px;
        background: #eee;
    }
    .one{
        height: 350px;
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        background: blue;
    }
    .two{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .box{
            width: 182px;
            height: 250px;
            background: red;
        }
        .box_1{

        }
        .box_2{

        }
    }
    .threen{
        height: 50px;
        width: 375px;
        background: pink;
    }
    .four{
        width:375px;
        height: 240px;
        background: gray;
        margin-top: 10px;
    }
}