.topsearch{
    height: 50px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 1px 1px 10px #eee;
    // position: sticky;
    // top: 0;
    // z-index: 10;
    .left{
        .left_img{
            width: 40px;
            height: 40px;
        }
    }
    .middle{
        .middle_img{
            width: 40px;
            height: 40px;
        }
    }
    .right{
        .right_img_1{
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
        .right_img_2{
            height: 40px;
            width: 40px;
        }
    }
}