.topsearch{
    height: 50px;
    width: 375px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 1px 1px 2px #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
    .left{
        .left_img{
            width: 25px;
            height: 25px;
        }
    }
    .middle{
        .middle_img{
            // width: 40px;
            // height: 40px;
        }
    }
    .right{
        .right_img_1{
            height: 22px;
            width: 22px;
        }
        .right_img_2{
            height: 25px;
            width: 25px;
            margin-left: 15px;
        }
    }
    .ant-badge-count{
        background: #1890ff;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        min-width: 16px;
        line-height: 16px;
    }
}